NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000
AUTH_EMAIL_REDIRECT_TO=http://localhost:3000/auth/callback

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

PUBLIC_DATA_API_KEY=
GRAPHHOPPER_URL=http://localhost:8989
TMAP_APP_KEY=
VWORLD_API_KEY=

OPENAI_API_KEY=
KAKAO_MAP_APP_KEY=
KAKAO_REST_API_KEY=
